/**  ------- Setups ------- **/

* {
    margin: 0;
    padding: 0;

}

html,
body {
    background-color: #dedddd;
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-weight: 100;
    color: #7c7c7c;
    box-sizing: border-box;
}

.row {
    max-width: 1000px;
    margin: 0 auto;
}

/** Main Division **/
.container {
    position: relative;
    height: 90vh;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    max-width: 1000px;

}

/** ------- Headers ------- **/
h1,
h2 {
    font-weight: 500;
    padding: 2% 4%;
}

h1:after {
    display: block;
    content: '';
    background-color: #989898;
    width: 85%;
    height: 2px;
    margin: 20px 0;

}

/** ------- Form Div ------- **/
form {
    margin: 2% 4%;
}

input[type="file"],
input[type="submit"] {
    font-size: 100%;
    padding: 1px;
    font-family: 'Raleway', sans-serif;
}

/** ------- Dropzone Div ------- **/
.dropzone {
    border: 2px dashed #ccc;
    height: 250px;
    width: 80%;
    margin: 2% 4%;
    color: #ccc;
}

.drop {
    border: 2px dashed #000;
    height: 250px;
    width: 80%;
    margin: 2% 4%;
    color: #000;
}


h3 {
    text-align: center;
    line-height: 250px;
    font-weight: 500;
}

/** ------- Table ------- **/

table,
td {
    border: 1px solid #000;
    border-collapse: collapse;
}

table tr:first-child {
    font-weight: 300;
    font-size: 110%;
    background-color: #4CAF50;
    color: white;
}

table tr:hover {
    background-color: #ddd;
}

table tr {
    color: #000;
}

table th,
table td {
    padding: 5px;
    border-color: #000;
}

/** ------- POPUP ------- **/


.cover-pops {
    z-index: 999;
    width: auto;
    height: 80%;
    top: 3%;
    left: 10%;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000000;
    overflow-x: auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.98;
    transition: all .5s ease-in-out;
}

/*
#table-pop {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .5s ease-in-out;
}
*/


.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
